aio-telegram-bot==1.0.0
aiogram==2.9.2
aiohttp==3.5.4
aiojobs==0.2.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
fake-useragent==0.1.11
idna==2.10
lxml==4.5.2
multidict==4.7.6
parse==1.16.0
Pillow==7.2.0
pyee==7.0.2
pyppeteer==0.2.2
pyquery==1.4.1
pytz==2020.1
requests==2.24.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.48.2
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
yarl==1.5.1
